<h1>This is article index</h1>
<p><%= link_to 'New', new_article_path %></p>

<% @articles.each do |article| %>
	
	<h3><%= article.title %></h3>
	<h5><%= article.text %></h5>
	<%= link_to 'Edit', edit_article_path(article) %> 
	<%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are You Sure ?'}  %> 

	<hr>
<% end %>

 
